@page
@model ShopWebApp.Areas.Administration.Pages.Shop.Slides.IndexModel
<div class="container">

    <div class="py-5">
        <div class="row g-4 align-items-center">
            <div class="col">
                <nav class="mb-2" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-sa-simple">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Slides</li>
                    </ol>
                </nav>
                <h1 class="h3 m-0">Slides</h1>
            </div>

            <div class="col-auto d-flex"><a href='@Url.Page("./Create")' class="btn btn-primary">New Slide</a></div>

        </div>
    </div>


    <div class="card">
        <table class="sa-datatables-init" data-order='[[ 0, "asc" ]]'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>سرتیتر</th>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Slides)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/ProductPictures/@item.Picture" style="width: 70px; height: 70px" />
                        </td>
                        <td>@item.Heading</td>
                        <td>@item.Title</td>
                        <td class="text-center">
                            @if (!item.IsRemoved)
                            {
                                <i class="fa fa-check fa-3x text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-remove fa-3x text-danger"></i>
                            }
                        </td>
                        <td>@item.CreationDate</td>
                        <td>
                            <a class="btn btn-warning pull-right m-rl-5"
                               href="@Url.Page("./Edit", new { id = item.Id})">
                                <i class="fa fa-edit"></i> Edit
                            </a>

                            @if (!item.IsRemoved)
                            {
                                <a asp-page="./Index" asp-page-handler="Remove" asp-route-id="@item.Id"
                                   class="btn btn-danger">Delete</a>
                            }
                            else
                            {
                                <a asp-page="./Index" asp-page-handler="Restore" asp-route-id="@item.Id"
                                   class="btn btn-success">Activation</a>
                            }


                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>


</div>