@page
@model ShopWebApp.Pages.CartModel
@{
}

<div class="banner-wrapper has_background">
    
    <img src="~/Theme/assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">

    <div class="banner-wrapper-inner">

        <h1 class="page-title">Cart</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">

            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin">
                    <a asp-page="./Index"><span>Home</span></a>
                    </li>
                <li class="trail-item trail-end active">
                    <span>Cart</span>
                </li>
            </ul>

        </div>
    </div>
</div>

<main class="site-main main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="furgan">

                        <div class="furgan-notices-wrapper">

                            @foreach(var item in Model.CartItems.Where(x => !x.IsInStock))
                            {
                                <div class="alert alert-warning">
                                    <i class="fa fa-warning"></i>
                                    Product "@item.Name" is not in Stock
                                </div>
                                
                            }

                        </div>

                        <div class="furgan-cart-form">
                            <table class="shop_table shop_table_responsive cart furgan-cart-form__contents"
                                   cellspacing="0">

                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th> 
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach(var item  in Model.CartItems)
                                    {
                                        <tr class="furgan-cart-form__cart-item cart_item">

                                            <td class="product-remove">
                                                <a asp-page-handler="RemoveFromCart" asp-route-id="@item.Id"
                                                   class="remove" aria-label="Remove this item" data-product_id="27"
                                                   data-product_sku="885B712">×</a>
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="#">
                                                    <img src="~/ProductPictures/@item.Picture"
                                                         class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                         alt="img" width="600" height="778">
                                                </a>
                                            </td>

                                            <td class="product-name" data-title="Product">
                                                <a href="#">
                                                    @item.Name
                                                </a>
                                            </td>

                                            <td class="product-price" data-title="Price">
                                                <span class="furgan-Price-amount amount">
                                                    <span class="furgan-Price-currencySymbol">$</span>@item.UnitPrice
                                                </span>
                                            </td>

                                            <td class="product-quantity" data-title="Quantity">
                                                <div class="quantity">
                                                    <span class="qty-label">Quantiy:</span>
                                                    <div class="control">
                                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                        <input type="text" onchange="changeCartItemCount('@item.Id','totalItemPrice-@item.Id',this.value)"
                                                            pattern="[0-9]*" inputmode="numeric" min="0" max="" data-step="1"
                                                               value="@item.Count" title="Qty" class="input-qty input-text qty text">
                                                        <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="product-subtotal" data-title="Total">
                                                <span class="furgan-Price-amount amount">
                                                    <span class="furgan-Price-currencySymbol">$</span>
                                                    <span id="totalItemPrice-@item.Id">@item.TotalItemPrice</span>
                                                </span>
                                            </td>

                                        </tr>
                                    }
                                
                           

                                    <tr>
                                        <td colspan="6" class="actions">
                                            <div class="coupon">
                                                <label for="coupon_code">Coupon:</label> <input type="text"
                                                                                                name="coupon_code"
                                                                                                class="input-text"
                                                                                                id="coupon_code" value=""
                                                                                                placeholder="Coupon code">
                                                <button type="submit" class="button" name="apply_coupon"
                                                        value="Apply coupon">
                                                    Apply coupon
                                                </button>
                                            </div>
                                            <button type="submit" class="button" name="update_cart" value="Update cart"
                                                    disabled="">
                                                Update cart
                                            </button>
                                            <input type="hidden" id="furgan-cart-nonce" name="furgan-cart-nonce"
                                                   value="f41b5bf554"><input type="hidden" name="_wp_http_referer"
                                                                             value="/furgan/cart/">
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                         @*        <h2>Cart totals</h2>
                                <table class="shop_table shop_table_responsive" cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td data-title="Subtotal">
                                                <span class="furgan-Price-amount amount">
                                                    <span class="furgan-Price-currencySymbol">$</span>418.00
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td data-title="Total">
                                                <strong>
                                                    <span class="furgan-Price-amount amount">
                                                        <span class="furgan-Price-currencySymbol">$</span>418.00
                                                    </span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> *@

                                <div class="furgan-proceed-to-checkout">
                                    <a asp-page="Checkout"
                                       class="checkout-button button alt furgan-forward">
                                        Proceed to checkout
                                    </a>
                                </div>

                            </div>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>