@page "{id}"
@model ShopWebApp.Pages.ProductModel
@{
    ViewData["Title"] = Model.Product.Name;
    ViewData["keywords"] = Model.Product.Keywords;
    ViewData["metaDescription"] = Model.Product.MetaDescription;
}

<div class="single-thumb-vertical main-container shop-page no-sidebar mt-6">

    @*   <div class="banner-wrapper no_background">
    <div class="banner-wrapper-inner">
    <nav class="furgan-breadcrumb">

    <a asp-page="/Index">Home</a>
    <i class="fa fa-angle-right"></i>
    <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a>
    <i class="fa fa-angle-right"></i>@Model.Product.Name

    </nav>
    </div>
    </div>
    *@
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">

                <div class="furgan-notices-wrapper"></div>

                <div id="product-27"
                     class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">

                            <div class="single-left">

                                <div class="furgan-product-gallery furgan-product-gallery--with-images furgan-product-gallery--columns-4 images">

                                    <a href="#" class="furgan-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="🔍"
                                             src="https://s.w.org/images/core/emoji/11/svg/1f50d.svg">
                                    </a>
                                    <div class="flex-viewport">
                                        <figure class="furgan-product-gallery__wrapper">

                                            <div class="furgan-product-gallery__image">
                                                <img alt="@Model.Product.PictureAlt"
                                                     src="~/ProductPictures/@Model.Product.Picture">
                                            </div>

                                            @foreach (var picture in Model.Product.Pictures)
                                            {
                                                <div class="furgan-product-gallery__image">
                                                    <img alt="@picture.PictureAlt"
                                                         src="~/ProductPictures/@picture.Picture">
                                                </div>
                                            }


                                        </figure>
                                    </div>

                                    <ol class="flex-control-nav flex-control-thumbs">
                                        <li>
                                            <img src="~/ProductPictures/@Model.Product.Picture"
                                                 alt="@Model.Product.PictureAlt">
                                        </li>
                                        @foreach (var picture in Model.Product.Pictures)
                                        {
                                            <li>
                                                <img alt="@picture.PictureAlt"
                                                     src="~/ProductPictures/@picture.Picture">
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>

                            <div class="summary entry-summary">

                                @* <div class="flash">
                                <span class="onnew"><span class="text">New</span></span>
                                </div> *@

                                <h1 class="product_title entry-title">@Model.Product.Name</h1>

                                <p class="price">
                                    @if (Model.Product.HasDiscount)
                                    {
                                        <del>
                                            <span class="furgan-Price-amount amount">
                                                <span class="furgan-Price-currencySymbol">$</span>@Model.Product.Price
                                            </span>
                                        </del>
                                        <ins>
                                            <span class="furgan-Price-amount amount">
                                                <span class="furgan-Price-currencySymbol">$</span>@Model.Product.PriceWithDiscount
                                            </span>
                                        </ins>

                                        <div class="countdown-product">
                                            <div class="furgan-countdown" data-datetime="03/12/2020 12:00:00">
                                                <span class="days">
                                                    <span class="number">00</span>
                                                    <span class="text">Days</span>
                                                </span>
                                                <span class="hour">
                                                    <span class="number">00</span>
                                                    <span class="text">Hours</span>
                                                </span>
                                                <span class="mins">
                                                    <span class="number">00</span>
                                                    <span class="text">Mins</span>
                                                </span>
                                                <span class="secs">
                                                    <span class="number">00</span>
                                                    <span class="text">Secs</span>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="furgan-Price-amount amount">
                                            <span class="furgan-Price-currencySymbol">$</span>@Model.Product.Price
                                        </span>
                                    }


                                </p>


                                @if (Model.Product.IsInStock)
                                {
                                    <p class="stock in-stock">
                                        Availability: <span> In stock</span>
                                    </p>
                                }
                                else
                                {
                                    <p class="stock out-stock">
                                        Availability: <span> Out of stock</span>
                                    </p>
                                }

                                <div class="furgan-product-details__short-description">
                                    <p>
                                        @Model.Product.ShortDescription
                                    </p>
                                </div>

                                <form class="variations_form cart">

                                    <div class="single_variation_wrap">
                                        <div class="furgan-variation single_variation"></div>
                                        <div class="furgan-variation-add-to-cart variations_button furgan-variation-add-to-cart-disabled">
                                            <div class="quantity">
                                                <span class="qty-label">Quantiy:</span>
                                                <div class="control">
                                                    <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                    <input type="text" data-step="1" min="0" max="" name="quantity[25]" value="0" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                                    <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                </div>
                                            </div>
                                            <button type="submit"
                                                    class="single_add_to_cart_button button alt disabled furgan-variation-selection-needed">
                                                Add to cart
                                            </button>
                                            <input name="add-to-cart" value="27" type="hidden">
                                            <input name="product_id" value="27" type="hidden">
                                            <input name="variation_id" class="variation_id" value="0" type="hidden">
                                        </div>
                                    </div>
                                </form>
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button show">
                                        <a href="#" rel="nofollow"
                                           data-product-id="27" data-product-type="variable" class="add_to_wishlist">
                                            Add to Wishlist
                                        </a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <a href="#"
                                   class="compare button" data-product_id="27" rel="nofollow">Compare</a>

                                <div class="product_meta">

                                    <span class="sku_wrapper">Code: <span class="sku">@Model.Product.Code</span></span>
                                    <span class="posted_in">
                                        Categories: <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug"
                                                       rel="tag">@Model.Product.Category</a>
                                    </span>
                                    <span class="tagged_as">
                                        Tags: @Model.Product.Keywords
                                    </span>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="furgan-tabs furgan-tabs-wrapper">

                        <ul class="tabs dreaming-tabs" role="tablist">

                            <li class="description_tab active" id="tab-title-description" role="tab"
                                aria-controls="tab-description">
                                <a href="#tab-description">Description</a>
                            </li>



                            <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews">Reviews (@Model.Product.Comments.Count)</a>
                            </li>

                        </ul>

                        <div class="furgan-Tabs-panel furgan-Tabs-panel--description panel entry-content furgan-tab"
                             id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <h2>Description</h2>
                            <div class="container-table">
                                @Model.Product.Description
                            </div>

                        </div>

                        <div class="furgan-Tabs-panel furgan-Tabs-panel--reviews panel entry-content furgan-tab"
                             id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                            <div id="reviews" class="furgan-Reviews">
                                <h2 class="furgan-Reviews-title">Reviews</h2>

                                <div id="comments">
                                    @if (Model.Product.Comments.Count > 0)
                                    {
                                        @foreach (var comment in Model.Product.Comments)
                                        {
                                            <div class="comment">

                                                <div class="comment-author">
                                                    @comment.Name :
                                                </div>

                                                <div class="comment-text">
                                                    <p>
                                                        @comment.Message
                                                    </p>
                                                </div>

                                            </div>
                                        }
                                    }
                                    else
                                    {

                                        <div id="respond" class="comment-respond">
                                            <span id="reply-title" class="comment-reply-title">Be the first to review.</span>
                                        </div>
                                    }




                                </div>

                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <form id="commentform" class="comment-form" method="post">

                                            <p class="comment-notes">
                                                <span id="email-notes">Your email adchair will not be published.</span>
                                                Required fields are marked <span class="required">*</span>
                                            </p>

                                            <p class="comment-form-author">
                                                <label for="author">
                                                    Name&nbsp;<span class="required">*</span>
                                                </label>
                                                <input id="author" name="name" value="" size="30" required="" type="text">
                                            </p>

                                            <p class="comment-form-email">
                                                <label for="email">
                                                    Email&nbsp;
                                                    <span class="required">*</span>
                                                </label>
                                                <input id="email" name="email" value="" size="30" required="" type="text">
                                            </p>

                                            <p class="comment-form-comment">
                                                <label for="comment">
                                                    Your
                                                    review&nbsp;<span class="required">*</span>
                                                </label>
                                                <textarea id="comment" name="message" cols="45" rows="8" required=""></textarea>
                                            </p>
                                            <input type="hidden" name="ownerRecordId" value="@Model.Product.Id" />
                                            <input type="hidden" name="productSlug" value="@Model.Product.Slug" />

                                            <p class="form-submit">
                                                <input name="submit" id="submit" class="submit" value="Submit" type="submit">
                                            </p>

                                        </form>

                                    </div><!-- #respond -->
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
